{% section 'product' %}
{% section 'product-billboard-custom-jewelry' %}
{% section 'product-grid-guarantee' %}
{% section 'product-billboard-our-diamonds' %}
{% section 'product-billboard-gold' %}
<div id="shopify-section-16451883074f3eb86c" class="shopify-section">
<div class="c-grid c-grid--columns-3 ">
    
        <h3 class="c-grid__title h2-display">Våre garantier</h3>
    

    <div class="c-grid__items">
        
            <div class="c-grid__item">

                
                    
                            <img loading="lazy" class="c-grid__item__image" src="//cdn.shopify.com/s/files/1/0298/5990/5669/files/guarantee-icon-1_small.png?v=1613539141" width="40" height="40" alt="Ikon etiske diamanter Sevendal">
                    
<h5 class="c-grid__item__title pre-title">Diamantene</h5><div class="c-grid__item__text"><p>Våre diamanter er etiske og 100% sporbare. Hos oss får du vite hvilken gruve diamanten din kommmer fra og hvor den ble slipt.</p></div></div>
            <div class="c-grid__item">

                
                    
                            <img loading="lazy" class="c-grid__item__image" src="//cdn.shopify.com/s/files/1/0298/5990/5669/files/guarantee-icon-2_small.png?v=1613539141" width="40" height="40" alt="Ikon etikk Sevendal">
                    
<h5 class="c-grid__item__title pre-title">Gullet</h5><div class="c-grid__item__text"><p>Gullet i smykkene fra oss er utvunnet på en ansvarlig måte og bidrar til å bedre humanitære og miljømessige vilkår.</p></div></div>
            <div class="c-grid__item">

                
                    
                            <img loading="lazy" class="c-grid__item__image" src="//cdn.shopify.com/s/files/1/0298/5990/5669/files/guarantee-icon-3_small.png?v=1613539141" width="40" height="40" alt="Ikon livstidsgaranti Sevenal ">
                    
<h5 class="c-grid__item__title pre-title">Håndverket</h5><div class="c-grid__item__text"><p>Vi står bak kvaliteten på håndverket i våre smykker og tilbyr livstidsgaranti mot defekter i materialer eller håndverk.</p></div></div>
            <div class="c-grid__item">

                </div></div>
</div>



</div>

{% include 'product-design' %}


<div id="shopify-section-1646222870af36207d" class="shopify-section">
<div class="
  c-billboard
  c-billboard--split
  c-billboard--full-width
  
  c-billboard--image
  
  maxwidthsanin">
    <div class="c-billboard__inner">
      

      <div class="c-billboard__content"><p class="c-billboard__pre-title pre-title">Etisk og sertifisert</p><h2 class="c-billboard__title ">Våre diamanter</h2>
        <div class="c-billboard__lead"><p>Hos oss har du alltid muligheten til å velge mellom naturlige og menneskeskapte diamanter. Den ene kommer fra jordens indre, den andre er grodd frem i et laboratorium. Begge er visuelt og fysisk like.</p></div>
          <a class="c-billboard__button c-btn c-btn--primary" href="/pages/etiske-diamanter">Les om våre diamanter</a></div>
      
        <div class="c-billboard__image">
          <style>#Image-28642383823011-0 {
    max-width: 560.0px;
    max-height: 670px;
  }
  #ImageWrapper-28642383823011-0 {
    max-width: 560.0px;

  }

  #ImageWrapper-28642383823011-0::before {
     padding-top: 670px;
    
  }
</style><div id="ImageWrapper-28642383823011-0" data-image-id="28642383823011" class="responsive-image__wrapper ">
  <img loading="lazy" id="Image-28642383823011-0" class="responsive-image__image lazyautosizes lazyloaded" src="//cdn.shopify.com/s/files/1/0298/5990/5669/files/Rod_rosa_diamant_forstorret_300x.jpg?v=1669827898" data-widths="[180,360,540,560]" data-aspectratio="0.835820895522388" data-sizes="auto" tabindex="-1" width="560" height="670" alt="Rosa diamant forstorret" data-srcset="//cdn.shopify.com/s/files/1/0298/5990/5669/files/Rod_rosa_diamant_forstorret_180x.jpg?v=1669827898 180w, //cdn.shopify.com/s/files/1/0298/5990/5669/files/Rod_rosa_diamant_forstorret_360x.jpg?v=1669827898 360w, //cdn.shopify.com/s/files/1/0298/5990/5669/files/Rod_rosa_diamant_forstorret_540x.jpg?v=1669827898 540w, //cdn.shopify.com/s/files/1/0298/5990/5669/files/Rod_rosa_diamant_forstorret_560x.jpg?v=1669827898 560w" sizes="560px" srcset="//cdn.shopify.com/s/files/1/0298/5990/5669/files/Rod_rosa_diamant_forstorret_180x.jpg?v=1669827898 180w, //cdn.shopify.com/s/files/1/0298/5990/5669/files/Rod_rosa_diamant_forstorret_360x.jpg?v=1669827898 360w, //cdn.shopify.com/s/files/1/0298/5990/5669/files/Rod_rosa_diamant_forstorret_540x.jpg?v=1669827898 540w, //cdn.shopify.com/s/files/1/0298/5990/5669/files/Rod_rosa_diamant_forstorret_560x.jpg?v=1669827898 560w">
</div>

<noscript>
  <img loading="lazy" class="" src="//cdn.shopify.com/s/files/1/0298/5990/5669/files/Rod_rosa_diamant_forstorret_2048x2048.jpg?v=1669827898" width="560" height="670" alt="Rosa diamant forstorret">
</noscript>

        </div>
      

    </div>
</div>

</div>

<div id="shopify-section-16462208244e8136a6" class="shopify-section">
<div class="
  c-billboard
  c-billboard--split
  c-billboard--full-width
  u-bg-primary-background
  c-billboard--image
  
  maxwidthsanin">
    <div class="c-billboard__inner">
      

      <div class="c-billboard__content"><p class="c-billboard__pre-title pre-title">Fairtrade</p><h2 class="c-billboard__title ">Gull som bidrar positivt</h2>
        <div class="c-billboard__lead"><p>Vi bruker Fairtrade-gull på tvers av kolleksjonene våre og i unike smykker som vi lager på bestilling.</p><p></p><p><a href="/pages/fairtrade" title="Fairtrade">Fairtrade-praksis</a> sikrer at gruvearbeiderne får en rettferdig lønn og kan jobbe under verdige forhold og bidrar til å forhindre barnearbeid, overgrep, utnytting og ødeleggelser av miljøet.</p></div></div>
      
        <div class="c-billboard__image">
          <style>#Image-28643307323555-0 {
    max-width: 585.0px;
    max-height: 780px;
  }
  #ImageWrapper-28643307323555-0 {
    max-width: 585.0px;

  }

  #ImageWrapper-28643307323555-0::before {
     padding-top: 780px;
    
  }
</style><div id="ImageWrapper-28643307323555-0" data-image-id="28643307323555" class="responsive-image__wrapper ">
  <img loading="lazy" id="Image-28643307323555-0" class="responsive-image__image lazyautosizes lazyloaded" src="https://cdn.shopify.com/s/files/1/0298/5990/5669/files/Model_orering_gull_portrett.webp?v=1680446047">
</div>

<noscript>
  <img loading="lazy" class="" src="https://cdn.shopify.com/s/files/1/0298/5990/5669/files/Model_orering_gull_portrett.webp?v=1680446047" alt="modell med ørering i gult gull">
</noscript>

        </div>
      

    </div>
</div>

</div>



{% section 'product-featured-variants' %}
{% section 'product-featured-blog-posts-ringer' %}
{% section 'product-featured-blog-posts-armband' %}
{% section 'product-featured-blog-posts-oredobber' %}
{% section 'product-billboard-ethics' %}
<div id="shopify-section-1646221224aff0dcb4" class="shopify-section" data-shopify-editor-section="{&quot;id&quot;:&quot;1646221224aff0dcb4&quot;,&quot;type&quot;:&quot;billboard&quot;,&quot;disabled&quot;:false}">
<div class="
  c-billboard
  c-billboard--split
  c-billboard--full-width
  u-bg-secondary-background
  c-billboard--image
  
  maxwidthsanin">
    <div class="c-billboard__inner">
      

      <div class="c-billboard__content"><p class="c-billboard__pre-title pre-title">Moral og etikk</p><h2 class="c-billboard__title ">Vårt løfte til deg</h2>
        <div class="c-billboard__lead"><p>Vi er lidenskapelig opptatt av unike, vakre produkter laget av etiske diamanter og Fairtrade-gull. Vi mener det ikke skal være noe kompromiss mellom produkter av høyeste kvalitet og din samvittighet.</p></div>
          <a class="c-billboard__button c-btn c-btn--primary" href="/pages/sevendal">Les mer om Sevendal</a></div>
      
        <div class="c-billboard__image">
          <style>#Image-28647288275107-0 {
    max-width: 780.0px;
    max-height: 780px;
  }
  #ImageWrapper-28647288275107-0 {
    max-width: 780.0px;

  }

  #ImageWrapper-28647288275107-0::before {
     padding-top: 780px;
    
  }
</style><div id="ImageWrapper-28647288275107-0" data-image-id="28647288275107" class="responsive-image__wrapper ">
  <img loading="lazy" id="Image-28647288275107-0" class="responsive-image__image lazyautosizes lazyloaded" src="//cdn.shopify.com/s/files/1/0298/5990/5669/files/Klassisk_kantet_forlovelsering_gult_gull_pa_hand_plante_I_bakgrunn.webp?v=1680446219" data-widths="[180,360,540,720,900,1000]" data-aspectratio="1.0" data-sizes="auto" tabindex="-1" alt="" data-srcset="//cdn.shopify.com/s/files/1/0298/5990/5669/files/Klassisk_kantet_forlovelsering_gult_gull_pa_hand_plante_I_bakgrunn.webp?v=1680446219 180w, //cdn.shopify.com/s/files/1/0298/5990/5669/files/Klassisk_kantet_forlovelsering_gult_gull_pa_hand_plante_I_bakgrunn.webp?v=1680446219 360w, //cdn.shopify.com/s/files/1/0298/5990/5669/files/Klassisk_kantet_forlovelsering_gult_gull_pa_hand_plante_I_bakgrunn.webp?v=1680446219 540w, //cdn.shopify.com/s/files/1/0298/5990/5669/files/Klassisk_kantet_forlovelsering_gult_gull_pa_hand_plante_I_bakgrunn.webp?v=1680446219 720w, //cdn.shopify.com/s/files/1/0298/5990/5669/files/Klassisk_kantet_forlovelsering_gult_gull_pa_hand_plante_I_bakgrunn.webp?v=1680446219 900w, //cdn.shopify.com/s/files/1/0298/5990/5669/files/Klassisk_kantet_forlovelsering_gult_gull_pa_hand_plante_I_bakgrunn.webp?v=1680446219 1000w" sizes="779.9999999999999px" srcset="//cdn.shopify.com/s/files/1/0298/5990/5669/files/Klassisk_kantet_forlovelsering_gult_gull_pa_hand_plante_I_bakgrunn.webp?v=1680446219 180w, //cdn.shopify.com/s/files/1/0298/5990/5669/files/Klassisk_kantet_forlovelsering_gult_gull_pa_hand_plante_I_bakgrunn.webp?v=1680446219 360w, //cdn.shopify.com/s/files/1/0298/5990/5669/files/Klassisk_kantet_forlovelsering_gult_gull_pa_hand_plante_I_bakgrunn.webp?v=1680446219 540w, //cdn.shopify.com/s/files/1/0298/5990/5669/files/Klassisk_kantet_forlovelsering_gult_gull_pa_hand_plante_I_bakgrunn.webp?v=1680446219 720w, //cdn.shopify.com/s/files/1/0298/5990/5669/files/Klassisk_kantet_forlovelsering_gult_gull_pa_hand_plante_I_bakgrunn.webp?v=1680446219 900w, //cdn.shopify.com/s/files/1/0298/5990/5669/files/Klassisk_kantet_forlovelsering_gult_gull_pa_hand_plante_I_bakgrunn.webp?v=1680446219 1000w">
</div>

<noscript>
  <img loading="lazy" class="" src="//cdn.shopify.com/s/files/1/0298/5990/5669/files/Klassisk_kantet_forlovelsering_gult_gull_pa_hand_plante_I_bakgrunn.webp?v=1680446219" alt="forlovelsesring klassisk kantet gult gull med 0.50 carat diamant">
</noscript>

        </div>
      

    </div>
</div>

</div>

<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "Product",
  "name": "{{ product.title | escape }}",
  "url": "{{ shop.url }}{{ product.url }}",
  {% if product.featured_image %}
    {% assign image_size = product.featured_image.width | append: 'x' %}
    "image": [
      "https:{{ product.featured_image.src | img_url: image_size }}"
    ],
  {% endif %}
  "description": "{{ product.description | strip_html | escape }}",
  {% if current_variant.sku != blank %}
    "sku": "{{ current_variant.sku }}",
  {% endif %}
  "brand": {
    "@type": "Thing",
    "name": "{{ product.vendor | escape }}"
  },
  {% if product.variants %}
    "offers": [
      {% for variant in product.variants %}
        {
          "@type" : "Offer",
          "availability" : "http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}",
          "price" : "{{ variant.price | divided_by: 100.00 }}",
          "priceCurrency" : "{{ shop.currency }}",
          "url" : "{{ shop.url }}{{ variant.url }}",
          "itemOffered" :
          {
              "@type" : "Product",
              {% if variant.image %}
                {% assign variant_image_size = variant.image.width | append: 'x' %}
                "image": "http:{{ variant.image.src | img_url: variant_image_size }}",
              {% endif %}
              {% if variant.title != blank %}
                "name" : "{{ variant.title | escape }}",
              {% endif %}
              {% if variant.sku != blank %}
                "sku": "{{ variant.sku }}",
              {% endif %}
              {% if variant.weight != blank %}
                "weight": {
                  "@type": "QuantitativeValue",
                  {% if variant.weight_unit != blank %}
                    "unitCode": "{{ variant.weight_unit }}",
                  {% endif %}
                  "value": "{{ variant.weight | weight_with_unit: variant.weight_unit }}"
                },
              {% endif %}
              "url": "{{ shop.url }}{{ variant.url }}"
          }
        }{% unless forloop.last %},{% endunless %}
      {% endfor %}
    ]
  {% endif %}
}
</script>
